In [1]:
import os
import pandas as pd
import numpy as np
import pickle

In [45]:
user_app_usage_file = [each for each in os.listdir('./') if each.endswith('.pkl')]
user_app_usage_file.remove('dataset.pkl')
user_app_usage_file.remove('user_app_usage_features.pkl')
user_app_usage_file.sort()

In [47]:
temp = []
for each in user_app_usage_file:
    with open(each,'rb') as f:
        temp.append(pickle.load(f))
join_data = pd.concat(temp)
join_data = join_data[list(join_data.columns)].astype('float64')

In [51]:
join_data = join_data.dropna()

In [52]:
print(join_data.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1939127 entries, 1000321 to 3512206
Columns: 406 entries, weekdayDuration_0 to rate2
dtypes: float64(406)
memory usage: 5.9 GB
None

In [54]:
len(set(join_data.index))

1939001

In [42]:
temp[0].tail()

,weekdayDuration_0,weekdayDuration_1,weekdayDuration_2,weekdayDuration_3,weekdayDuration_4,weekdayDuration_5,weekdayDuration_6,weekdayDuration_7,weekdayDuration_8,weekdayDuration_9,...,weekendTimes_93,weekendTimes_94,weekendTimes_95,weekendTimes_96,weekendTimes_97,weekendTimes_98,weekendTimes_99,weekdayTimesSum,weekendTimesSum,rate2
,,,,,,,,,,,,,,,,,,,,,
3511156,77298.0,88.0,1217.0,1722.0,0.0,0.0,3995.0,0.0,5490.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,8815.0,3312.0,2.661534
3511398,92408.0,8322.0,474.0,2099.0,0.0,52123.0,236.0,1970.0,3210.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10622.0,2809.0,3.781417
3511593,234858.0,12791.0,4227.0,12430.0,93982.0,13722.0,0.0,0.0,1125.0,1379.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22598.0,10515.0,2.149120
3511919,3762.0,0.0,0.0,0.0,1518.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,233.0,153.0,1.522876
3511937,105915.0,7967.0,489.0,1137.0,0.0,21997.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9031.0,2489.0,3.628365

In [43]:
temp[1].head()

,weekdayDuration_0,weekdayDuration_1,weekdayDuration_2,weekdayDuration_3,weekdayDuration_4,weekdayDuration_5,weekdayDuration_6,weekdayDuration_7,weekdayDuration_8,weekdayDuration_9,...,weekendTimes_93,weekendTimes_94,weekendTimes_95,weekendTimes_96,weekendTimes_97,weekendTimes_98,weekendTimes_99,weekdayTimesSum,weekendTimesSum,rate2
,,,,,,,,,,,,,,,,,,,,,
1000068,90757.0,1243.0,24.0,133151.0,0.0,22561.0,974.0,1384.0,1492.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14161.0,7503.0,1.887378
1000229,198.0,0.0,82.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9202.0,5648.0,1.629249
1000272,66801.0,1522.0,948.0,11619.0,0.0,0.0,0.0,0.0,813.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4928.0,1565.0,3.148882
1000369,103478.0,582.0,6042.0,12415.0,684.0,2007.0,0.0,1183.0,8854.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9577.0,2466.0,3.883617
1000450,136546.0,1216.0,0.0,5520.0,48574.0,0.0,0.0,0.0,4325.0,0.0,...,0.0,0.0,0.0,0.0,222.0,0.0,0.0,14336.0,4465.0,3.210750

In [26]:
df = join_data
float_col = [each for each in df.columns if df[each].dtype=='float']
user_basic_info[float_col] = df[float_col].apply(lambda x: (x - np.mean(x)) / np.std(x))

,weekdayDuration_0,weekdayDuration_1,weekdayDuration_2,weekdayDuration_3,weekdayDuration_4,weekdayDuration_5,weekdayDuration_6,weekdayDuration_7,weekdayDuration_8,weekdayDuration_9,...,weekendTimes_93,weekendTimes_94,weekendTimes_95,weekendTimes_96,weekendTimes_97,weekendTimes_98,weekendTimes_99,weekdayTimesSum,weekendTimesSum,rate2
,,,,,,,,,,,,,,,,,,,,,
1000150,60521.0,5723.0,2313.0,8160.0,7763.0,14.0,3000.0,0.0,221.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9085.0,3262.0,2.785101
1000266,20.0,0.0,3.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,228.0,71.0,3.211268
1000479,140554.0,1321.0,30497.0,21032.0,0.0,0.0,0.0,947.0,889.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,21.0,13471.0,4151.0,3.245242
1000523,161736.0,12327.0,30571.0,123713.0,0.0,290.0,614.0,8552.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17494.0,6604.0,2.649001
1000657,108932.0,1620.0,948.0,0.0,0.0,0.0,0.0,5796.0,2312.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6408.0,1398.0,4.583691

In [55]:
with open('dataset.pkl','rb') as f:
    dataset = pickle.load(f)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
final_train = pd.merge(dataset,join_data, on=['uId'], how='inner')